[submodule "easycom-webui"]
	path = easycom-webui
	url = https://github.com/cha87de/easycom-webui.git
[submodule "easycom-phpbackend"]
	path = easycom-phpbackend
	url = https://github.com/cha87de/easycom-phpbackend.git
